<Files "*.inc">
  Order Deny,Allow
  Deny from All
</Files>

<Files "db">
  Order Deny,Allow
  Deny from All
</Files>

RewriteEngine On
RewriteBase /netskel/

RewriteRule ^([^/]+)/(.*)$                sendfile.php?user=$1&file=$2   [QSA]
RewriteRule ^([^/]+)/bin/netskel$         getclient.php?user=$1          [QSA]
RewriteRule ^([^/]+)/.netskeldb$          netskeldb.php?user=$1          [QSA]
RewriteRule ^([^/]+)/netskel$             getclient.php?user=$1          [QSA]
