<Files "*.inc">
  Order Deny,Allow
  Deny from All
</Files>

<Files "db">
  Order Deny,Allow
  Deny from All
</Files>

RewriteEngine On
RewriteBase /netskel/

RewriteRule ^([^/]+)/bin/netskel$                 getclient.rvt?user=$1                    [QSA,L]
RewriteRule ^([^/]+)/.netskeldb$                  netskeldb.rvt?user=$1                    [QSA,L]
RewriteRule ^([^/]+)/netskel$                     getclient.rvt?user=$1                    [QSA,L]
RewriteRule ^([^/]+)/(.*)$                        sendfile.rvt?user=$1&file=$2             [QSA,L]
